<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ABC Bank Loan Processing Application</title>
  <link rel="stylesheet" href="home.component.scss" />
</head>
<body>
  <div class="container">
    <div class="header">
      <!-- <img src="" alt="ABC Bank Logo" class="logo" /> -->
      <h1>ABC BANK</h1>
      <p>Loan Processing Application</p>
    </div>
    <hr />
    <div class="content">
      <h2>Welcome to ABC Bank Loan Processing System</h2>
      <p>Now Get your Loan Approved instantly!!!</p>
      <p>
        Your loan approved immediately using this cool and fully automated
        application.
      </p>
      <p>
        In order to Submit a new loan request, click on "Submit an application"
        on the right.
      </p>
      <p>
        For viewing existing loan application's, click on "View applications".
      </p>
    </div>
    <div class="buttons">
      <button routerLink="/submit-loan">Submit an Application</button>
      <button routerLink="/view-all-applications">View Applications</button>
    </div>
  </div>
  <script>
    function submitApplication() {
      // Add your code for submitting an application here
      this.router.navigateByUrl("/submit-loan");
    }

    function viewApplications() {
      // Add your code for viewing applications here
    }
  </script>
</body>

<!-- <h1> Home Works!</h1> -->
